

.grid_bg {
    display: flex;
}

.grid_bg > div {
    
}

.grid_bg > div > div {
    width: 40px;
    height: 40px;
    border-style: solid;
    border: 1px solid #eee;
    text-align: center;
    float: left;
    font-size: 36px;
}
